.navbar {
  background-color: var(--bg-header-footer);
  padding: 1rem;
  height: 2.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Logo area on the left */
.navbar-logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 1rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #F7F3E9;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px; /* controls space between text and underline */
}

.navbar a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* aligns with padding-bottom */
  width: 100%;
  height: 2px; /* thickness of the underline */
  background-color: #F7F3E9; 
}

