.map-marker-button {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }